<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
            <li>...all leagues where sport is any type of hockey</li>
            <li>...all leagues where sport is something OTHER THAN football</li>
            <li>...all leagues that call themselves "conferences"</li>
            <li>...all leagues in the Atlantic region</li>
            <li>...all teams based in Dallas</li>
            <li>...all teams named the Raptors</li>
            <li>...all teams whose location includes "City"</li>
            <li>...all teams whose names begin with "T"</li>
            <li>...all teams, ordered alphabetically by location</li>
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            <li>...every player with last name "Cooper"</li>
            <li>...every player with first name "Joshua"</li>
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
        </ol>
        <div style="border: 1px solid grey;">
            <h6>Womens Leagues</h6>
            <ol>
                @foreach (var league in ViewBag.Womens)



                {
                    <li>@league.Name</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>Hockey Leagues</h6>
            <ol>
                @foreach (var league in ViewBag.Hockey)



                {
                    <li>@league.Name</li>



                }
            </ol>
        </div>
        <div style="border: 1px solid grey;">
            <h6>No Football!</h6>
            <ol>
                @foreach (var league in ViewBag.NoFootball)



                {
                    <li>@league.Name</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>Conference</h6>
            <ol>
                @foreach (var league in ViewBag.Conference)



                {
                    <li>@league.Name</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>Atlantic</h6>
            <ol>
                @foreach (var league in ViewBag.Atlantic)



                {
                    <li>@league.Name</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>Dallas</h6>
            <ol>
                @foreach (var league in ViewBag.Dallas)



                {
                    <li>@league.TeamName</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>Raptors</h6>
            <ol>
                @foreach (var league in ViewBag.Raptors)



                {
                    <li>@league.TeamName</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>City</h6>
            <ol>
                @foreach (var league in ViewBag.Cities)



                {
                    <li>@league.TeamName</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>T's</h6>
            <ol>
                @foreach (var league in ViewBag.T)



                {
                    <li>@league.TeamName</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>Teams</h6>
            <ol>
                @foreach (var league in ViewBag.Teams)



                {
                    <li>@league.Location</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>Teams Reversed</h6>
            <ol>
                @foreach (var league in ViewBag.TeamsR)



                {
                    <li>@league.TeamName</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>Cooper</h6>
            <ol>
                @foreach (var league in ViewBag.Cooper)



                {
                    <li>@league.FirstName @league.LastName</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>Josh</h6>
            <ol>
                @foreach (var league in ViewBag.Joshua)



                {
                    <li>@league.FirstName @league.LastName</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>No Joshs</h6>
            <ol>
                @foreach (var league in ViewBag.NoJosh)



                {
                    <li>@league.FirstName @league.LastName</li>



                }
            </ol>
        </div>

        <div style="border: 1px solid grey;">
            <h6>Alex and Wyatts</h6>
            <ol>
                @foreach (var league in ViewBag.AlexOrWyatt)



                {
                    <li>@league.FirstName @league.LastName</li>



                }
            </ol>
        </div>
    </div>
</div>
</div>